BASE_URL=https://qaplayground.com/bank/
API_BASE_URL=https://restful-booker.herokuapp.com/
API_USERNAME=replace-me
API_PASSWORD=replace-me
STANDARD_USER=replace-me
STANDARD_PASS=replace-me
ADMIN_USER=replace-me
ADMIN_PASS=replace-me
ENV_NAME=local
